@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: '나눔고딕, Nanum Gothic';
  src: url('/fonts/NanumGothic.eot');
}
@font-face {
  font-family: '나눔고딕, Nanum Gothic';
  src: url('/fonts/NanumGothic.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-1Thin';
  font-weight: 100;
  src: url('/fonts/S-CoreDream-1Thin.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  font-weight: 200;
  src: url('/fonts/S-CoreDream-2ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-3Ligh';
  font-weight: 300;
  src: url('/fonts/S-CoreDream-3Light.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  font-weight: 400;
  src: url('/fonts/S-CoreDream-4Regular.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-5Medium';
  font-weight: 500;
  src: url('/fonts/S-CoreDream-5Medium.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  font-weight: 600;
  src: url('/fonts/S-CoreDream-6Bold.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  font-weight: 700;
  src: url('/fonts/S-CoreDream-7ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-8Heavy';
  font-weight: 800;
  src: url('/fonts/S-CoreDream-8Heavy.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-9Black';
  font-weight: 800;
  src: url('/fonts/S-CoreDream-9Black.woff') format('woff');
}
@font-face {
  font-family: 'TMONBlack';
  font-weight: normal;
  src: url('/fonts/TMONBlack.woff') format('woff');
}
@font-face {
  font-family: 'ELEPHNT';
  font-weight: normal;
  src: url('/fonts/ELEPHNT.woff') format('woff');
}
